.Main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, .2);

  .view {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: orange;

  }

  /*
    WelcomeComponent
  */
  .WelcomeComponent {
    .view;
    background-color: orange;

  }

  /*
  TweetView
  */
  .TweetView {
    .view;
    background-color: greenyellow;

    .GetMicrophone {
       width: 40%;
      height: 300px;
      background-color: rgba(255,0,0,.2);
    }

    .DoTweet {
       width: 40%;
      height: 300px;
      background-color: rgba(255,0,0,.2);
    }

    .Gauge {
      width: 40%;
      height: 300px;
     background-color: rgba(255,0,0,.2);
    }

  }

  /*
  StadiumView
  */
  .StadiumView {
    .view;
    background-color: lightblue;

  }

}